{% set width_class = "expand" if not slides else "" %}
{% set cart_settings = shopping_cart.cart_settings %}
{% set product_info = shopping_cart.product_info %}
{% set price_info = product_info.get('price') or {} %}

<div class="col-md-7 product-details {{ width_class }}">
	<div class="d-flex">
		<!-- title -->
		<div class="product-title col-11" itemprop="name">
			{{ _(doc.web_item_name) }}
		</div>

		<!-- Wishlist -->
		{% if cart_settings.enable_wishlist %}
			<div class="like-action-item-fp like-action {{ 'like-action-wished' if wished else ''}} ml-2"
				data-item-code="{{ doc.item_code }}">
				<svg class="icon sm">
					<use class="{{ 'wished' if wished else 'not-wished' }} wish-icon" href="#icon-heart"></use>
				</svg>
			</div>
		{% endif %}
	</div>

	<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
	</div>

	<div itemprop="review" itemscope itemtype="https://schema.org/Review">
	</div>

	<p class="product-code">
		<span class="product-item-group" itemprop="name">
			{{ _("Size") }}: {{ _(doc.custom_frame_size) }}
		</span>

		<span class="product-item-code" itemprop="name">
			{{ _("Model No") }}:
		</span>
		<span itemprop="name">{{ _(doc.item_code) }}</span>
		
	</p>

	{# --- Include item_vto.html only if Karp Webshop Settings has VTO Enabled checked --- #}
	{% set vto_enabled = False %}
	{% if frappe.db.exists('Karp Webshop Settings') %}
		{% set settings_doc = frappe.get_doc('Karp Webshop Settings') %}
		{% if settings_doc %}
			{% set vto_enabled = settings_doc.get('vto_enabled') or settings_doc.get('VTO Enabled') or False %}
		{% endif %}
	{% endif %}

	

	{% if vto_enabled and doc.custom_vto_enabled%}
		{% include "templates/generators/item/item_vto.html" %}
	{% endif %}
	
	{% if has_variants %}
		<!-- configure template -->
		{% include "templates/generators/item/item_configure.html" %}
	{% else %}
	
		<!-- add variant to cart -->
		{% include "templates/generators/item/item_add_to_cart.html" %}
	{% endif %}
	
	
	</div>
</div>

{% block base_scripts %}
<!-- js should be loaded in body! -->
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
{% endblock %}

<script>
	$('.page_content').on('click', '.like-action-item-fp', (e) => {
			// Bind action on wishlist button
			const $btn = $(e.currentTarget);
			webshop.webshop.wishlist.wishlist_action($btn);
		});
</script>
