
<style>
	.block-right {
		margin-left: auto;
		margin-right: 0;
		display: block;
		width: fit-content; /* optional */
	}

</style>
<nav class="navbar navbar-light navbar-expand-lg">
	<div class="container">
		<a class="navbar-brand" href="{{ url_prefix }}{{ home_page or "/" }}">
			{%- if brand_html -%}
				{{ brand_html }}
			{%- elif banner_image -%}
				<img src='{{ banner_image }}'>
			{%- else -%}
				<span>{{ (frappe.get_hooks("brand_html") or [_("Home")])[0] }}</span>
			{%- endif -%}
		</a>
		
		<div id="mobile-cart-wrapper" class="block-right">
			<div id="cart-icon" class="shopping-cart cart-icon">
				<a class="nav-link" href="/cart">
					<svg class="icon icon-lg">
						<use href="#icon-assets"></use>
					</svg>
					<span class="badge badge-primary shopping-badge" id="cart-count"></span>
				</a>
			</div>
		</div>
		<button class="navbar-toggler" type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span>
				<svg class="icon icon-lg">
					<use href="#icon-menu"></use>
				</svg>
			</span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			{% include "templates/includes/navbar/navbar_items.html" %}
		</div>
		<div id="desktop-cart-wrapper">
			
		</div>	
		<div class="form-group mb-0 hide" id="language-switcher">
			<select class="form-control"></select>
		</div>
	</div>
</nav>

<script>
  function repositionCartIcon() {
    const cart_icon = document.getElementById('cart-icon');
    if (window.innerWidth < 768) {
      document.getElementById('mobile-cart-wrapper').appendChild(cart_icon);
    } else {
      document.getElementById('desktop-cart-wrapper').appendChild(cart_icon);
    }
  }

  // Run on load and on resize
  window.addEventListener('load', repositionCartIcon);
  window.addEventListener('resize', repositionCartIcon);
</script>

