{% from "webshop/templates/includes/macros.html" import product_image %}

{% macro item_subtotal(item) %}
	<div>
		{{ item.get_formatted('amount') }}
	</div>

	{% if item.is_free_item %}
		<div class="text-success mt-4">
			<span class="free-tag">
				{{ _('FREE') }}
			</span>
		</div>
	{% endif %}
{% endmacro %}

{% for d in doc.items %}
	<tr data-name="{{ d.name }}">
		<td style="width: 80%;">
			<div class="d-flex">
				<div class="cart-item-image mr-4">
					{% if d.thumbnail %}
						{{ product_image(d.website_image, alt="d.web_item_name", no_border=True) }}
					{% else %}
						<div class = "no-image-cart-item">
							{{ frappe.utils.get_abbr(d.web_item_name) or "NA" }}
						</div>
					{% endif %}
				</div>

				<div class="d-flex w-100" style="flex-direction: column;">
					<a href="{{d.route}}">
						<div class="item-title mb-1 mr-3">
							{{ d.get("web_item_name") or d.item_name }}
						</div>
						<div class="item-subtitle mr-2">
							{{ d.item_code }}
						</div>
					</a>	
					{%- set variant_of = frappe.db.get_value('Item', d.item_code, 'variant_of') %}
					{% if variant_of %}
					<span class="item-subtitle mr-2">
						{{ _('Variant of') }}
						<a href="{{frappe.db.get_value('Website Item', {'item_code': variant_of}, 'route') or '#'}}">
							{{ variant_of }}
						</a>
					</span>
					{% endif %}

						
				</div>
				
			</div>
			<div class="mt-2 notes">
				<textarea style="width: 50%; height: 50px;" data-item-code="{{d.item_code}}" class="form-control" rows="2" placeholder="{{ _('Add notes') }}">{{d.additional_notes or ''}}</textarea>
			</div>
		</td>

		
		<!-- Qty column -->
		<td class="text-right" style="width: 20%;">
			<!-- Subtotal -->
			{% if cart_settings.enable_checkout or cart_settings.show_price_in_quotation %}
			<div class="text-left item-subtotal" >
				{{ item_subtotal(d) }}
			</div>
			{% endif %}

			{% set disabled = 'disabled' if d.is_free_item else '' %}
			<div class=" text-center input-group number-spinner mt-1 mb-4 d-flex">
				<span class="input-group-prepend d-sm-inline-block">
					<button class="btn cart-btn" data-dir="dwn" {{ disabled }}>
						{{ '–' if not d.is_free_item else ''}}
					</button>
				</span>

				<input class="form-control text-center cart-qty" value="{{ d.get_formatted('qty') }}" data-item-code="{{ d.item_code }}"
					style="max-width: 40px;" {{ disabled }}>

				<span class="input-group-append d-sm-inline-block">
					<button class="btn cart-btn" data-dir="up" {{ disabled }}>
						{{ '+' if not d.is_free_item else ''}}
					</button>
				</span>
			</div>


			{% if not d.is_free_item %}

			<div class="text-left remove-cart-item" style="float:left !important; width: 60%;" data-qitem-name="{{ d.name }}" >
				<div class="text-center">
					{{ "Remove" }}
				</div>
			</div>
			{% endif %}

		
		</td>

		
	</tr>
{% endfor %}
